{
	email developer@saascustomdomains.com
	admin localhost:2015
}


saascustomdomains, *.saascustomdomains {
        tls developer@saascustomdomains.com

	reverse_proxy {
	to localhost:8282
	}
}

:80, :443 {
        respond "Domain not configured" 404
}
